doctype
html(lang="en")
head
	meta(charset="UTF-8")
	title Iteraciones
body
	h1 Iteraciones 
	each val, inex in ['yelow', 'blue', 'red', 'green', 'purple']
		li=(style='background-color'+val)= indx + ': ' + val