body {
	font: 16px Arial;
	color: #444;
}
h1 {
	text-align: center;
}
main.table {
	background: url(../imgs/base.png) no-repeat center;
	height: 720px;
	width: 639px;
	margin: 40px auto;
	position: relative;
}
main.table section.attributes {
	width: 298px;
	height: 410px;
	position: absolute;
	top: 65px;
	left: 270px;
}

section.attributes ul {
	list-style: none;
	padding: 0px 0px 0px 20px;
	
}
section.attributes ul li {
	color: #fff;
	font-size: 1.3em;
	margin:18.5px;
	padding:15px;
	text-shadow: 0px 0px 8px #000;
}
main.table section.methods {
	height: 86px;
	left: 110px;
	position: absolute;
	width: 455px;
	bottom: 35px;
}

section.methods button {
	border: none ;
	border-radius: 100px;
	height: 64px;
	margin: 12px 10px 0px 12px;
	transition: all 0.5s ease;
	width: 64px;
}
section.methods button:first-of-type {
	margin-left: 20px;
}
section.methods button:last-of-type {
	margin-left: 10px;
}
section.methods button:hover {
	cursor: pointer;
	transform: scale(1.1);
}
section.methods button#btnOn {
	background: transparent url(../imgs/btn-play.png) no-repeat center;
	
}
section.methods button#btnOff {
	background: transparent url(../imgs/btn-off.png) no-repeat center;
}





section.methods button#btnStop {
	background: transparent url(../imgs/btn-stop.png) no-repeat center;
}
section.methods button#btnForward {
	background: transparent url(../imgs/btn-forward.png) no-repeat center;
}
section.methods button#btnBackward {
	background: transparent url(../imgs/btn-backward.png) no-repeat center;
}
section#path {
	height: 130px;
	left: 0px;
	position: absolute;
	top: 200px;
	width: 250px;

}
figure#vhc {
	background: transparent url(../imgs/Automovil.png) no-repeat center;
	background-size: cover;
	height: 130px;
	transform: rotateY(180deg);
	width: 250px;
	position: relative;
}
figure#vhc.on {
	animation: animOn 0.1ms 1.5s infinite;
}
section#path.forward {
	animation: animForward 4s linear infinite;
}
section#path.backward {
	animation-direction:reverse;
}
section#path.stop {
	animation-play-state: paused;
}
@keyframes animOn {
	0%, 100% {top: 0px;}
	50% 	 {top:-4px;}
}
@keyframes animForward {
	0% 		 {left: 0px;}
	100% 	 {left: 1280px;}
}


